<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title><%= title %></title>
</head>
<body>
<ul>
    <% users.forEach(function(item){%>
    <li><%=item.name%></li>
    <li><%=item.email%></li>

    <%})%>
</ul>

</body>

</html>